*{
    margin: auto;
    background: black;
}

.container{
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.container h1{
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 37px;
    margin-top: 40px;
}

.container input{
    width: 49%;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 10px;
    color: #FFFFFF;
}

.container label{
    font-size: 24px;
    color: #FFFFFF;
}

#issuedto{
    margin: 0px 35px;
}

#bookName{
   margin: 13px 12px;
}

#button{
    background: #FFFFFF;
    margin-top: 30px;
    padding: 10px 290px;
}

 th,td{
    border: 1px solid #FFFFFF;
}

table{
    border: 1px solid #FFFFFF;
    width: 95%;
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 35px;
    color: #FFFFFF;
}

.status::before {
    color: green;
    }
    .status::after {
    color: red;
    }